@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All pizza to fit in your belly!</h1>
    <ul>
        <li>Pizza 1</li>
        <li>Pizza 2</li>
        <li>Pizza 3</li>
    </ul>
</div>
